/NeuroML2/report.Sim_IClamp_PV.txt
/NeuroML2/LEMS_Sim_IClamp_PV.xml
/NeuroML2/Sim_IClamp_PV.json
/NeuroML2/*.dat
/NeuroML2/IClamp_PV.gv
/NeuroML2/IClamp_PV.gv.png
/NeuroML2/*_nrn.py
/NeuroML2/x86_64
/NeuroML2/*.mod
/NeuroML2/*.hoc
/NeuroML2/.ipynb_checkpoints
/NeuroML2/report.*.txt
/NeuroML2/Sim*.json
/NeuroML2/LEMS_Test_k_chan_pyr.xml
/NeuroML2/LEMS_Test_na_chan_pyr.xml
/NeuroML2/LEMS_Sim_IClamp_Pyr.xml
